//cart page
form{
    @include cards;
    padding: 1rem;
    & .full-name{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & .adress input{
        display: flex;
        flex-direction: column;        
    }
}

.emptyCart{
    border-radius: 1.2rem;
    border: 0.7rem solid #e7890694;
    display: flex;
    justify-content: center ;
    align-content: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

#cart{
    display: grid;
    grid-auto-rows: auto;
    gap: 2rem;
    & button{
       margin: auto;
    }
}

//cart page