//cart page
form{
    @include cards;
    padding: 1rem;
    & .full-name{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & .adress input{
        display: flex;
        flex-direction: column;        
    }
}

.emptyCart{
    border-radius: 1.2rem;
    border: 0.7rem solid #e7890694;
    display: flex;
    justify-content: center ;
    align-content: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

#cart{
    @include cards;
    padding: 1rem;
    & button{
        margin: auto;
        margin-top: 1rem;
     }
}

table{
    @include mobile{
        margin : 0;
        .picture{
            display: none;
        }
        .deleteCamera{
            display: none;
        }
    }
    margin: 1rem;
    & td, th{
        border: 0.2rem solid #e7890694;
    }
    & img{
        width: 100%;
    } 
}

thead, tfoot, .deleteCamera{
    background-color: #e7890694;
    font-weight: bold;
}



//cart page