//cart page
#main-cart{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 5% 30% 65%;
    & h1{
        margin: 1rem;
    }
}
.cart-form{
    grid-row: 3;
    @include cards;
    margin: 1rem;
    padding: 1rem;
    & .full-name{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & .adress input{
        display: flex;
        flex-direction: column;        
    }
}

.emptyCart{
    border-radius: 1.2rem;
    border: 0.7rem solid #e7890694;
    display: flex;
    justify-content: center ;
    align-content: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

#cart{
    grid-row: 2;
    padding: 1rem;
    & button{
        margin: auto;
        margin-top: 1rem;
     }
}

table{
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    @include mobile{
        margin : 0;
        .picture{
            display: none;
        }
        // .deleteCamera{
        //     display: none;
        // }
    }
    
    & td, th{
        border: 0.2rem solid #e7890694;
        width: 1rem;
    }
    & img{
        width: 100%;
        cursor: pointer;
    } 
}

thead, tfoot, .deleteCamera{
    background-color: #e7890694;
    font-weight: bold;
}

.deleteCamera{
    width: 1%;
    cursor: pointer;
}


//cart page